body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.hide {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: blueviolet;
    color: gainsboro;
}

#showScores {
    text-decoration: none;
    color: gainsboro;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-top: 5%;
    padding: 2%;
    border: 2px solid blueviolet;
    border-radius: 2rem;
    box-shadow: 8px 8px 8px 8px rgba(54, 17, 89, 0.5);
    background-color: gainsboro;
}
 h3 {
     text-align: center;
 }

p {
    font-weight: 600;
    text-align: center;
}

button {
    background-color: gainsboro;
    color: blueviolet;
    border: 2px solid blueviolet;
    border-radius: .25rem;
    width: auto;
    margin: .5%;
}

button:hover {
    background-color: blueviolet;
    color: gainsboro;
    border: 2px solid rgb(117, 117, 117);
    border-radius: .25rem;
    cursor: grab;
}

.hidden {
    visibility: hidden;
}

#scoreRecord {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#highScoreList {
    list-style: none;
    padding: 0;
}

section h1 {
    display: flex;
    text-align: center;
}

@media screen and (max-width: 768px)  {
    section {
        width: 80%;
    }
}
  
@media (max-width: 500px) {

}